/* InstructorStyles.css */
.instructor {
  width: 60%;
  margin: 2rem auto;
}
.head{
  margin-left:2rem;
}
.slide-content {
  display: grid;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}

.image-column{
  padding: 0.5rem;
}
.image-column img {
  width: 90%;
  height: 90%;
  border-radius: 4px;
}

.text-column{
  margin:0 1rem;
}
.text-column p {
  margin: 1.3rem 0;
  color: rgb(157, 153, 153);
}
